:root {
  --pico-color-zinc-50: rgb(240, 241, 243);
  --pico-color-zinc-100: rgb(224, 227, 231);
  --pico-color-zinc-150: rgb(209, 213, 219);
  --pico-color-zinc-200: rgb(194, 199, 208);
  --pico-color-zinc-250: rgb(179, 185, 197);
  --pico-color-zinc-300: rgb(164, 172, 186);
  --pico-color-zinc-350: rgb(150, 158, 175);
  --pico-color-zinc-400: rgb(136, 145, 164);
  --pico-color-zinc-450: rgb(123, 132, 149);
  --pico-color-zinc-500: rgb(111, 120, 135);
  --pico-color-zinc-550: rgb(100, 107, 121);
  --pico-color-zinc-600: rgb(92, 99, 112);
  --pico-color-zinc-650: rgb(77, 83, 94);
  --pico-color-zinc-700: rgb(66, 71, 81);
  --pico-color-zinc-750: rgb(55, 60, 68);
  --pico-color-zinc-800: rgb(45, 49, 56);
  --pico-color-zinc-850: rgb(35, 38, 44);
  --pico-color-zinc-900: rgb(25, 28, 32);
  --pico-color-zinc-950: rgb(15, 17, 20);
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --local-color: #1f1f1f;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --local-color: #e3e3e3;
  }
}

[data-theme=dark] {
  --local-color: #e3e3e3;
}

:root {
  --font-sans-serif-logo: 'Comfortaa', var(--pico-font-family);
}

@media (min-width: 1536px) {
  .bio .container {
    max-width: 1320px;
  }
}

.bio .container {
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--pico-spacing);
  padding-left: var(--pico-spacing);
  padding-top: 0;
}

.bio > header {
  padding-block: 0;
}

.bio > header > nav {
  justify-content: center;
}

.logo, .logo :is(a, a:hover) {
  font: 600 2rem/1 var(--font-sans-serif-logo);
  color: var(--local-color);
  text-decoration: none;
  text-transform: lowercase;
  margin: 0;
}

.bio > main > picture img {
  display: block;
  margin-inline: auto;
  margin-bottom: 2rem;
  width: 122px;
  height: 122px;
  border-radius: 50%;
}

.bio > main > hgroup {
  text-align: center;
  text-wrap: balance;
}

.bio > footer {
  border-top: 1px solid var(--pico-color-zinc-200);
}