@charset "UTF-8";

[data-theme=light],
:root:not([data-theme=dark]) {
  --local-color: #1f1f1f;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --local-color: #e3e3e3;
  }
}

[data-theme=dark] {
  --local-color: #e3e3e3;
}

:root {
  --font-sans-serif-logo: 'Comfortaa', var(--pico-font-family);
}

@media (min-width: 1536px) {
  .bio .container {
    max-width: 1320px;
  }
}

.bio .container {
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--pico-spacing);
  padding-left: var(--pico-spacing);
  padding-top: 0;
}

.bio > header {
  padding-block: 0;
}

.bio > header > nav {
  justify-content: center;
}

.logo, .logo :is(a, a:hover) {
  font: 600 2rem/1 var(--font-sans-serif-logo);
  color: var(--local-color);
  text-decoration: none;
  text-transform: lowercase;
  margin: 0;
}

.bio > main > picture img {
  display: block;
  margin-inline: auto;
  margin-bottom: 2rem;
  width: 122px;
  height: 122px;
  border-radius: 50%;
}

.bio > main > hgroup {
  text-align: center;
  text-wrap: balance;
}

.bio > footer.container {
  border-top: 1px solid var(--pico-color-zinc-200);
  width: calc(100% - (var(--pico-spacing) * 2));
  padding-top: .5rem;
  padding-inline: 0;
}

@media (min-width: 680px) {
  .bio > .container {
    padding-inline: 0;
  }
}